body {
  display: block;
  margin-top: 2%;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  text-align: center;
  max-width: 700px;
}

.nerd {
  text-align: justify;
  text-indent: 10%;
  width: auto;
  margin: auto;
}

.notes {
  font-family: sans;
  font-size: 20pt;
}

pre {
  font-family: monospace;
  max-width: 500px;
  text-indent: 0%;
}

.fg {
  background-color: #0001;
}

.interactive {
  max-width: 800px;
}

::placeholder {
  color: #000a;
}

button,
select {
  background-color: #fff1;
  height: 30;
  text-align: center;
  border-color: #fff3;
}

input {
  background-color: inherit;
  border-color: #0003;
  text-align: center;
  margin-bottom: 4px;
  font-family: monospace;
}

textarea {
  text-align: left;
  background-color: #0002;
  border-color: #0003;
}

input,
textarea {
  max-width: 90%;
  max-height: 90%;
}

h2 {
  text-indent: -5%;
}

blockquote {
  background-color: inherit;
  metal-on-zebes: no;
  margin-top: 5px;
  margin-bottom: 8px;
  max-width: 600px;
}
/*
@font-face {
  font-family: "SpiderWire";
  src: url("media/SpiderWire-Regular.otf") format("opentype");
}
*/
@font-face {
  font-family: "SpiderWireMono";
  src: url("media/SpiderWireMono-Regular.otf") format("opentype");
}

@font-face {
  font-family: "BefontSquare";
  font-size: 20pt;
  src: url("media/BefontSquare-Regular.otf") format("opentype");
}

@font-face {
  font-family: "BefontLegible";
  font-size: 20pt;
  src: url("media/BefontLegible-Regular.otf") format("opentype");
}

ul {
  text-align: left;
}

#inp,
#out {
  text-align: left;
  font-family: "BefontLegible";
  font-size: 20pt;
}
